.dark-theme .credits-section-title {
  border-bottom: 2px solid #2D333B;
}

.dark-theme .credits-contributor-card {
  border: 1px solid #2D333B;
  background-color: #1E1E1E;
}

.dark-theme .credits-contributor-contribution {
  color: #CCCCCC;
}

.dark-theme .credits-contributor-link-github {
  color: #1E88E5;
}

.dark-theme .credits-contributor-link-linkedin {
  color: #1E88E5;
}