.light-theme .credits-section-title {
  border-bottom: 2px solid #eee;
}

.light-theme .credits-contributor-card {
  border: 1px solid #ddd;
  background-color: #FFFFFF;
}

.light-theme .credits-contributor-contribution {
  color: #7F8C8D;
}

.light-theme .credits-contributor-link-github {
  color: #4A90E2;
}

.light-theme .credits-contributor-link-linkedin {
  color: #0077B5;
}