.dark-theme .problems-error {
  color: #FF8A80;
}

.dark-theme .problems-filter-input,
.dark-theme .problems-filter-select {
  border: 1px solid #2D333B;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.dark-theme .problems-list-item {
  border: 1px solid #2D333B;
  background-color: #1E1E1E;
}

.dark-theme .problems-list-item-link {
  color: #1E88E5;
}

.dark-theme .problems-view-submissions-link {
  color: #7AD39B;
}

.dark-theme .problems-no-problems {
  color: #CCCCCC;
}