.light-theme .reset-password-container {
    background-color: #f0f2f5;
    color: #333;
}

.light-theme .reset-password-title {
    color: #0056b3;
}

.light-theme .reset-password-input {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.light-theme .reset-password-button {
    background-color: #007bff;
    color: #fff;
}

.light-theme .reset-password-button:hover {
    background-color: #0056b3;
}
