.dark-theme .submission-detail-container {
  background-color: #1E1E1E;
}

.dark-theme .submission-detail-error {
  color: #FF8A80;
}

.dark-theme .submission-detail-container h2 {
  color: #FFFFFF;
}

.dark-theme .submission-detail-container p {
  color: #CCCCCC;
}

.dark-theme .submission-detail-container strong {
  color: #FFFFFF;
}

.dark-theme .submission-detail-code-block {
  background-color: #0B0B0B;
}

.dark-theme .submission-detail-test-results-list-item {
  border: 1px solid #2D333B;
  background-color: #121212;
}

.dark-theme .submission-detail-test-results-list-item pre {
  background-color: #1E1E1E;
}

.dark-theme .test-case-toggle-button {
  background-color: #5B57FF;
  color: #121212;
}

.dark-theme .test-case-toggle-button:hover {
  background-color: #2E2BB2;
}

.dark-theme .test-case-details {
  border-left: 2px solid #2D333B;
}