/* Light theme for ContestCard */

.light-theme .contest-card {
  background-color: #ffffff;
  border-color: #e0e0e0;
  color: #333333;
}

.light-theme .contest-card-link {
  color: #007bff;
}

.light-theme .contest-card-link:hover {
  color: #0056b3;
}

.light-theme .contest-card-register-button {
  background-color: #28a745; /* Green color for registration */
  color: #ffffff;
  cursor: pointer;
}

.light-theme .contest-card-register-button:hover {
  background-color: #218838;
}