.dark-theme .contact-container {
  background-color: #1E1E1E;
}

.dark-theme .contact-title {
  color: #FFFFFF;
}

.dark-theme .contact-content {
  color: #CCCCCC;
}

.dark-theme .contact-details p {
  color: #FFFFFF;
}