.dark-theme .contact-container {
  background-color: #252525;
}

.dark-theme .contact-title {
  color: #D4D4D4;
}

.dark-theme .contact-content {
  color: #858585;
}

.dark-theme .contact-details p {
  color: #D4D4D4;
}