.light-theme .contact-container {
  background-color: #FFFFFF;
}

.light-theme .contact-title {
  color: #2C3E50;
}

.light-theme .contact-content {
  color: #7F8C8D;
}

.light-theme .contact-details p {
  color: #2C3E50;
}