.dark-theme .not-found-container {
  background-color: #252525;
}

.dark-theme .not-found-title {
  color: #FF6B6B;
}

.dark-theme .not-found-message {
  color: #858585;
}

.dark-theme .not-found-redirect {
  color: #858585;
}

.dark-theme .not-found-url {
  color: #D4D4D4;
}

.dark-theme .not-found-link {
  color: #59C2FF;
}