.dark-theme .profile-container {
  background-color: #1E1E1E;
}

.dark-theme .profile-container h2 {
  color: #FFFFFF;
}

.dark-theme .profile-container p {
  color: #CCCCCC;
}

.dark-theme .profile-container strong {
  color: #FFFFFF;
}

.dark-theme .profile-container a {
  background-color: #5B57FF;
  color: #121212;
}

.dark-theme .profile-container a:hover {
  background-color: #2E2BB2;
}

.dark-theme .profile-error {
  color: #FF8A80;
}