.dark-theme .profile-container {
  background-color: #1E1E1E;
}

.dark-theme .profile-container h2 {
  color: #FFFFFF;
}

.dark-theme .profile-container p {
  color: #CCCCCC;
}

.dark-theme .profile-container strong {
  color: #FFFFFF;
}

.dark-theme .profile-container a {
  background-color: #5B57FF;
  color: #121212;
}

.dark-theme .profile-container a:hover {
  background-color: #2E2BB2;
}

.dark-theme .profile-error {
  color: #FF8A80;
}

.dark-theme .profile-cancel-button:hover {
  background-color: #A01C28;
}

.dark-theme .profile-view-submissions-link {
  background-color: #007bff;
  color: white;
}

.dark-theme .profile-view-submissions-link:hover {
  background-color: #0056b3;
}

.dark-theme .profile-solved-problem-item {
  background-color: #1a471a; /* Darker green background */
  border: 1px solid #2e7d32;
  color: #7ad39b; /* Lighter green text */
}