.dark-theme .privacy-policy-container {
  background-color: #252525;
}

.dark-theme .privacy-policy-title {
  color: #D4D4D4;
}

.dark-theme .privacy-policy-container h3 {
  color: #D4D4D4;
}

.dark-theme .privacy-policy-content {
  color: #858585;
}