.light-theme .privacy-policy-container {
  background-color: #FFFFFF;
}

.light-theme .privacy-policy-title {
  color: #2C3E50;
}

.light-theme .privacy-policy-container h3 {
  color: #2C3E50;
}

.light-theme .privacy-policy-content {
  color: #7F8C8D;
}