.dark-theme .header-nav {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.dark-theme .header-link-brand {
  color: #FFFFFF;
}

.dark-theme .header-nav-link {
  color: #FFFFFF;
}

.dark-theme .header-nav-link:hover {
  color: #1E88E5;
}

.dark-theme .header-welcome-text {
  color: #FFFFFF;
}

.dark-theme .theme-toggle-button {
  background-color: #5B57FF;
  color: #121212;
}

.dark-theme .theme-toggle-button:hover {
  background-color: #2E2BB2;
}