.dark-theme .header-nav {
  background-color: #252525;
  color: #D4D4D4;
}

.dark-theme .header-link-brand {
  color: #D4D4D4;
}

.dark-theme .header-nav-link {
  color: #D4D4D4;
}

.dark-theme .header-nav-link:hover {
  color: #59C2FF;
}

.dark-theme .header-welcome-text {
  color: #D4D4D4;
}

.dark-theme .theme-toggle-button {
  background-color: #59C2FF;
  color: #1E1E1E;
}

.dark-theme .theme-toggle-button:hover {
  background-color: #3A9CD6;
}