.light-theme .header-nav {
  background-color: #FFFFFF;
  color: #1A1A1A;
}

.light-theme .header-link-brand {
  color: #1A1A1A;
}

.light-theme .header-nav-link {
  color: #1A1A1A;
}

.light-theme .header-nav-link:hover {
  color: #2A28B0;
}

.light-theme .header-welcome-text {
  color: #1A1A1A;
}

.light-theme .theme-toggle-button {
  background-color: #4B47FF;
  color: #FFFFFF;
}

.light-theme .theme-toggle-button:hover {
  background-color: #2A28B0;
}