.code-submission-container {
  background-color: #282c34;
  color: #e0e0e0;
}

.code-submission-container h2 {
  color: #61dafb;
}

.code-submission-form label {
  color: #bbbbbb;
}

.code-submission-form .language-select,
.code-submission-form .code-textarea {
  background-color: #3a3f4b;
  color: #e0e0e0;
  border-color: #555555;
}

.code-submission-form .code-textarea::placeholder {
  color: #888888;
}

.code-submission-form .submit-button {
  background-color: #61dafb;
  color: #282c34;
}

.code-submission-form .submit-button:hover:not(:disabled) {
  background-color: #21a1f1;
}

.code-submission-form .submit-button:disabled {
  background-color: #555555;
  color: #999999;
}
