.about-us-container {
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-us-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-us-content {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .about-us-container {
    padding: 15px;
    margin: 20px auto;
    max-width: 95%; /* Adjust max-width for smaller screens */
  }

  .about-us-title {
    font-size: 2em;
    margin-bottom: 15px;
  }

  .about-us-content {
    font-size: 1em;
    line-height: 1.5;
  }
}